slideshow-container {
    
    width: 100%;
    position: relative;
    margin: auto;
}
.slideshow {
    display: none;
}
.slideshow img { width:100%; }
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.legenda {
    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding:5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;
}
.numeracao {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.paginacao { 
  
    width:100%; 
    float:left;
    margin: 10px 0;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: #007cff;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.ativo,
.dot:hover {
    background-color: #242424;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
/*960PX BREAKPOINT - Ajustando o texto para desktop*/
@media (min-width:60em){
    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:20px 0; }
    .dot       { width:18px; height:18px; }
}
