.style1 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/AB_watermark.png');
}

.style2 {
 font-weight: bold;
 background-color: #FFFFFF;
 color: #0000FF;
 text-align: justify;
}

.style3 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/AB_watermark.png');
 align: center;
 width: 100%;
}

.style4 {
 border: 4px solid;
border-color: #ff0000;	
}

.style5 {
background-color: #FFFFCC;
}

.style6 {
background-color: #FFFFFF;
text-align: justify;
color: #0000FF;
font-weight: bold;
}

.style7 {
background-color: #FFFFFF;
text-align: center;
color: #0000FF;
font-weight: bold;
width: 53%;
}

.style8 {
border-radius: 12px;
border-color: #FFFF00;
width:100%;
}

.style9 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/MB-fundo2.jpg');
}

.style10 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/MB-fundo2.png');
 align: center;
 width: 100%;
}

.style11 {
background-color: #FFFF99;  
color: #0000FF; 
text-align: center;  
font-weight: bold;  
font-size: 100%; 
}

.style12 {
background-color: #FFFFFF;  
color: #0000FF; 
text-align: justify;  
font-weight: bold;  
font-size: 100%; 
}

.style13 {
background-color: #FFFF99;  
color: #0000FF; 
text-align: justify;  
font-weight: bold;  
font-size: 100%; 
}

.style14 {
 width: 25%;
 text-decoration: none ;
 }	


h3 {
color: #0000FF;
}

.style40 {
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: 0px;
 border-left-width: thin;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: none;
 border-left-style: solid;
 border-top-color: #0000FF;<!-- cor da borda da aba-->
 border-right-color: #0000FF;<!-- cor da borda da aba-->
 border-left-color: #0000FF;<!-- cor da borda da aba-->
 font-weight: bold;
 background-color: #FFFF99;<!-- cor de fundo-->
}

.style41 {
 border-bottom-width: thin;
 border-bottom-style: solid;
 border-bottom-color: #0000FF; <!-- Cor da borda da aba -->
 font-style: normal;
}

.style42 {
 visibility: visible;
 position: relative;
 left: 0px;<!-- distância do conteúdo em relação à esquerda do browser-->
 top: 100px;<!-- distância do conteúdo em relação ao topo-->
 height: 100%px;<!-- altura do conteúdo-->
 width: 100%px;<!-- largura do conteúdo-->
 background-color: #FFFF99;<!-- cor de fundo do conteúdo-->
 right: 5px;
 bottom: 0px;
}

.style43 {
 visibility: hidden;
 position: absolute;
 left: 0px;<!-- distância do conteúdo em relação à esquerda do browser-->
 top: 100px;<!-- distância do conteúdo em relação ao topo-->
 height: 100%px;<!-- altura do conteúdo-->
 width: 100%px;<!-- largura do conteúdo-->
 background-color: #66CCFF;<!-- cor de fundo do conteúdo-->
 right: 5px;
 bottom: 0px;
}

.style44 {
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: 0px;
 border-left-width: thin;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: none;
 border-left-style: solid;
 border-top-color: #0000FF;<!-- cor da borda da aba-->
 border-right-color: #0000FF;<!-- cor da borda da aba-->
 border-left-color: #0000FF;<!-- cor da borda da aba-->
 font-weight: bold;
 background-color: #FFFF99;<!-- cor de fundo-->
}

.style45 {
 border-bottom-width: thin;
 border-bottom-style: solid;
 border-bottom-color: #0000FF; <!-- Cor da borda da aba -->
 font-style: normal;
}


.style46 {
 position: relative;
 left: 0px;<!-- distância do conteúdo em relação à esquerda do browser-->
 top: 100px;<!-- distância do conteúdo em relação ao topo-->
 height: 100%px;<!-- altura do conteúdo-->
 width: 100%px;<!-- largura do conteúdo-->
 background-color: #FFFF99;<!-- cor de fundo do conteúdo-->
 right: 5px;
 bottom: 0px;
}


.style47 {
 visibility: hidden;
 position: absolute;
 left: 0px;<!-- distância do conteúdo em relação à esquerda do browser-->
 top: 100px;<!-- distância do conteúdo em relação ao topo-->
 height: 100%px;<!-- altura do conteúdo-->
 width: 100%px;<!-- largura do conteúdo-->
 background-color: #66CCFF;<!-- cor de fundo do conteúdo-->
 right: 5px;
 bottom: 0px;
}

.style100 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/AB_Tester-watermark.png');
}

.style101 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/AB_Tester-watermark.png');
 align: center;
}

.style102 {
 background-image: url('https://sites.google.com/site/matchboxfilesx/AB_Tester-watermark.png');
 align: center;
 width: 100%;
}

.style103 {
	color: #FFFFFF;
}